@import url("fonts/fonts.css");

body {
    margin: 0px;
    width: 100%;
    font-family: 'Open Sans Condensed';
}

.container {
    max-width: 1180px;
    margin: 0px auto;
}

h1, h2, h3, p {
    margin: 0;
}

a {
    text-decoration: none;
    display: block;
}

a:hover {
    color: yellowgreen;
}